yt-dlp>=2024.4.9

openai-whisper>=20231117
torch>=2.2.0

deep-translator>=1.11.4
langdetect>=1.0.9

langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-mistralai>=0.1.0
mistralai>=1.0.0

chromadb>=0.5.0
sentence-transformers>=2.7.0
langchain-huggingface>=0.0.3
tiktoken>=0.7.0

streamlit>=1.35.0
streamlit-extras>=0.4.3

fpdf2>=2.7.9
reportlab>=4.2.0

python-dotenv>=1.0.1
numpy>=1.26.0
tqdm>=4.66.0
requests>=2.32.0